img.medium-image {
  width: 30vw;
  min-width: 293px;
}

ul {
  list-style-type: none;
  padding: 0;
}

section.planet-details {
  grid-column-start: 2;
  /*color: honeydew;*/
  /*color: yellow;*/
  color: gold;
  background-color: black;
  padding: 1rem;
  font-size: 15pt;
  font-family: 'Titillium Web', sans-serif;
}

section.planet-details li {
  padding: 0.175rem;
}

/*section.planet-details img {
  float: left;
  width: 400px;
  grid-column-start: 3;
}*/

section.planet-details {
  background-repeat: no-repeat, repeat;
  background-size: 1000px;
}


/*section.div.planet-image {
  grid-column-start: 3;
}*/
